equipped {
    .title {
        .image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .item-inner {
            margin: 0 !important;
            font-size: 2rem;
            font-weight: bold;
        }
        .weight {
            font-size: 1.8rem;
            font-weight: bold;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        }
    }
}