bag {
    .title {
        .item-inner {
            margin-left: 10px !important;
        }
        .image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .name {
            margin-left: 0;
            font-size: 2rem;
            font-weight: bold;
        }
        .capacity {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }
    .bag-weight {
        font-style: italic;
        margin: 0 !important;
        font-weight: bold;
        .image {
            width: 42px;
            margin-top: -5px;
            background-color: var(--contrast-color);
        }
        .item-inner {
            margin: 0 !important;
            font-weight: bold;
        }
    }
}