<ion-list>
  <ion-item-group class="bag">
    <ion-item-divider class="name" color="light">{{name}}
      <img class="image" src="{{image}}" alt="" item-left>
      <button ion-button item-right icon-only clear color="dark" *ngIf="!isEquipped" (click)="editEvent()"> 
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-item-divider>
    <bag-item *ngFor="let item of items" [bag]="bag" [bagItem]="item" [isEquipped]="isEquipped"></bag-item>
    <ion-item *ngIf="showDetails" [ngClass]="{isOverCapacity: isOverCapacity}" class="bag-details">
      {{"Dettagli" | translate}}
      <ion-icon item-right name="{{fixedCapacityIconName}}" color="{{fixedCapacityIconColor}}"></ion-icon>
      <p class="weight" item-right>{{fixedCapacityDetails}} Kg</p>
    </ion-item>
    <money *ngIf="isEquipped"></money>
    <ion-item *ngIf="totalWeight > 0" class="bag-total">
      {{"PesoTotale" | translate}}
      <p class="weight" item-right>{{totalWeight}} Kg</p>
    </ion-item>
  </ion-item-group>
</ion-list>