<ion-header>

  <ion-navbar>
    <ion-title>{{"ListaOggetti" | translate}}</ion-title>
    <ion-buttons right>
      <button ion-button class="new-button" (click)="add()">{{"Nuovo" | translate}}</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)" placeholder="{{'RicercaTreCaratteri' | translate}}" class="search-bar"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <div *ngIf="!isSearching">
    <ion-segment [(ngModel)]="itemsType">
      <ion-segment-button value="weapons">
        {{"Armi" | translate}}
      </ion-segment-button>
      <ion-segment-button value="armors">
        {{"Armature" | translate}}
      </ion-segment-button>
      <ion-segment-button value="simpleItems">
        {{"Oggetti" | translate}}
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="itemsType" *ngIf="!isSearching">
    <ion-list *ngSwitchCase="'weapons'">
      <item *ngFor="let item of weapons" [item]="item" (click)="addItem(item)"></item>
    </ion-list>
    <ion-list *ngSwitchCase="'armors'">
      <item *ngFor="let item of armors" [item]="item" (click)="addItem(item)"></item>
    </ion-list>
    <ion-list *ngSwitchCase="'simpleItems'">
      <item *ngFor="let item of simpleItems" [item]="item" (click)="addItem(item)" (modify)="modifyItem(item)"></item>
    </ion-list>
  </div>
  <ion-list *ngIf="isSearching">
    <item *ngFor="let item of items" [item]="item" (click)="addItem(item)" (modify)="modifyItem(item)"></item>
  </ion-list>
</ion-content>

<ion-footer>
  <total-bar></total-bar>
</ion-footer>