bag-item {
    .item .label {
        margin: 0;
    }
    .count {
        width: 22px;
        height: 22px;
        border-radius: 50%;
    }
    .option-buttons {
        button {
            margin: 2px;
            text-transform: none; // height: 4rem;
            .button-inner {
                flex-direction: column;
            }
        }
    }
}