<ion-header class="component-inverted-style" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle"></page-header>
</ion-header>

<ion-content padding class="component-style">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <div *ngIf="!isLoading">
    <ion-item class="name" text-center no-lines>
      {{name}}
    </ion-item>
    <ion-item no-lines>
      <ion-label class="image-container">
        <div class="image" [ngStyle]="image ? {'background-image': 'url(' + image + ')'} : {}"></div>
      </ion-label>
    </ion-item>
    <ion-item class="description" no-lines text-left>
      <div class="dragon" item-left [ngStyle]="{'-webkit-mask-box-image': 'url(' + dragonImage + ')'}"></div>
      {{description}}
      <br> {{"Forza" | translate}} {{strength}}
    </ion-item>
    <ion-grid class="weights-table">
      <div class="border-top" class="component-inverted-style"></div>
      <ion-row class="labels-row" text-center>
        <ion-col text-uppercase>{{"Leggero" | translate}}</ion-col>
        <ion-col text-uppercase>{{"Medio" | translate}}</ion-col>
        <ion-col text-uppercase>{{"Pesante" | translate}}</ion-col>
      </ion-row>
      <ion-row class="values-row" text-center>
        <ion-col>
          <div class="cell encumber-value">{{encumberedValue | weight:true}}</div>
        </ion-col>
        <ion-col>
          <div class="cell heavy-encumber-value">{{heavilyEncumberedValue | weight:true}}</div>
        </ion-col>
        <ion-col>
          <div class="cell max-carry-value">{{maxCarryValue | weight:true}}</div>
        </ion-col>
      </ion-row>
      <ion-row class="values-row" text-center>
        <ion-col col-4 offset-2>
          <div class="cell lift-value">{{liftValue | weight:true}}</div>
        </ion-col>
        <ion-col col-4>
          <div class="cell drag-value">{{dragValue | weight:true}}</div>
        </ion-col>
      </ion-row>
      <ion-row class="labels-row" text-center>
        <ion-col col-4 offset-2 text-uppercase>{{"Sollevare" | translate}}</ion-col>
        <ion-col col-4 text-uppercase>{{"Trascinare" | translate}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-fab right bottom>
    <button ion-fab (click)="modify()" class="component-inverted-style">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
  <inventory-bar class="component-style"></inventory-bar>
</ion-footer>