page-character-info {
    .item,
    .label {
        background: inherit;
        color: inherit;
    }
    .dragon {
        width: 60px;
        height: 60px;
        background-color: var(--contrast-color);
        margin: 0 !important;
    }
    .image-container {
        margin: 0;
    }
    .image {
        margin-top: 10px;
        display: block;
        margin: auto;
        width: 45vw;
        height: 45vw;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid;
        border-radius: 100%;
    }
    .name {
        font-weight: bold;
        font-size: 2.2rem;
        .item-inner {
            padding-right: 0 !important;
        }
    }
    .description {
        font-weight: bold;
        font-size: 1.8rem;
        margin-top: 5px;
        padding-bottom: 5px;
        .item-inner {
            padding-right: 0 !important;
        }
        .label {
            margin: 0 !important;
        }
        border-bottom: 2px solid !important;
    }
    .weights-table {
        position: relative;
        .border-top {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            height: 1px;
            width: 100%;
            margin: auto;
            display: block;
            opacity: 0.5;
        }
        .row {
            &.title {
                .col {
                    line-height: 80%;
                    font-size: 2rem;
                }
            }
            &.labels-row {
                .col {
                    padding: 0;
                    opacity: 0.5;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                }
            }
            &.values-row {
                .col {
                    padding: 2px;
                    font-size: 2rem;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    font-weight: bold;
                    .cell {
                        padding: 3px;
                        &.encumber-value {
                            color: color($colors, status_green);
                        }
                        &.heavy-encumber-value {
                            color: color($colors, status_orange);
                        }
                        &.max-carry-value {
                            color: color($colors, status_red);
                        }
                    }
                }
            }
        }
    }
    .exit-icon {
        transform: rotate(180deg);
    }
    button.edit-button {
        color: color($colors, primary)
    }
    .delete-label {
        text-decoration: underline;
    }
}