page-character-info {
    .item,
    .label {
        background: inherit;
        color: inherit;
    }
    .dragon {
        width: 45px;
        height: 45px;
    }
    .image {
        margin-top: 10px;
        display: block;
        margin: auto;
        width: 45vw;
        height: 45vw;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid;
        border-radius: 100%;
    }
    .name {
        font-weight: bold;
    }
    .description {
        font-weight: bold;
        padding-left: 30px;
        font-size: 1.8rem;
        .item-inner {
            margin: 0 !important;
        }
        border-bottom: 1px solid !important;
    }
    .weights-table {
        position: relative;
        .border-top {
            content: "";
            position: absolute;
            left: 0;
            top: -1px;
            height: 1px;
            width: 100%;
            margin: auto;
            display: block;
            background: blue;
            opacity: 0.5;
        }
        .row {
            &.labels-row {
                .col {
                    padding: 0;
                    opacity: 0.5;
                }
            }
            &.values-row {
                .col {
                    font-size: 1.8rem; // font-weight: bold;
                    padding: 2px;
                    .cell {
                        padding: 3px;
                        &.encumber-value {
                            border: 1px solid color($colors, secondary);
                            color: color($colors, secondary);
                        }
                        &.heavy-encumber-value {
                            border: 1px solid color($colors, warning);
                            color: color($colors, warning);
                        }
                        &.max-carry-value {
                            border: 1px solid color($colors, danger);
                            color: color($colors, danger);
                        }
                    }
                }
            }
        }
    }
    .exit-icon {
        transform: rotate(180deg);
    }
    button.edit-button {
        color: color($colors, primary)
    }
    .delete-label {
        text-decoration: underline;
    }
}