money {
    .title {
        .image {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            min-width: 46px;
            min-height: 46px;
        }
        .item-inner {
            margin: 0 !important;
            font-size: 2rem;
            font-weight: bold;
        }
    }
    .container {
        padding-bottom: 10px !important;
        border-bottom: 1px solid;
        .value {
            width: 18%;
            float: left;
            font-size: 1.8rem;
            line-height: 0.9;
        }
    }
}