<ion-header class="component-inverted-style" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle"></page-header>
</ion-header>

<ion-content padding class="component-style">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <div class="inventory-container" *ngIf="!isLoading && inventory">
    <money tappable [money]="inventory.money" (onClick)="moneyClick()"></money>
    <equipped [items]="equippedItems" [weight]="equippedWeight"></equipped>
    <ion-list>
      <bag *ngFor="let bag of bags" [bag]="bag"></bag>
    </ion-list>
  </div>
  <ion-fab right bottom>
    <button ion-fab (click)="add()" class="component-inverted-style">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>