inventory-bar {
    .toolbar {
        padding-left: 16px;
        padding-right: 16px;
    }
    .toolbar-background,
    .item {
        background: inherit;
        color: inherit;
    }
    .item {
        border-top: 2px solid !important;
    }
    .weight-text {
        font-size: 1.8rem;
        color: inherit;
        font-weight: bold;
        line-height: 90%;
    }
}