inventory-bar {
  .toolbar {
    padding: 0;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 54px;
  }
  .toolbar-background,
  .item {
    background: inherit;
    color: inherit;
  }
  .item {
    border-top: 2px solid !important;
  }
  .weight{
    margin: 8px 8px 10px 0 !important;
  }
  .weight-text {
    font-size: 1.8rem;
    color: inherit;
    font-weight: bold;
    line-height: 90%;
    margin: 8px 8px 10px 0 !important;
  }
}