<ion-header class="component-inverted-style" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle" [isOptionsHidden]="true"></page-header>
</ion-header>

<ion-content padding class="component-style">
  <form [formGroup]="_form">
    <ion-item no-padding>
      <ion-label>{{"Nome" | translate}}</ion-label>
      <ion-input text-right type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="image-item">
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="arrow-container">
            <button clear class="image-button arrow" ion-button icon-only (click)="prevAvatar()">
              <ion-icon name="ios-arrow-dropleft"></ion-icon>
            </button>
          </ion-col>
          <ion-col>
            <div class="image" [ngStyle]="image ? {'background-image': 'url(' + image + ')'} : {}"></div>
          </ion-col>
          <ion-col class="arrow-container">
            <button class="image-button arrow" ion-button icon-only (click)="nextAvatar()">
              <ion-icon name="ios-arrow-dropright"></ion-icon>
            </button>
            <button *ngIf="false" class="image-button load" ion-button icon-only (click)="addImage()">
              <ion-icon [ngStyle]="{'-webkit-mask-box-image': 'url(' + loadImage + ')'}"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item no-padding>
      <ion-label>{{"Razza" | translate}}</ion-label>
      <ion-input text-right type="text" formControlName="race"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label>{{"Classe" | translate}}</ion-label>
      <ion-input text-right text="text" formControlName="className"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label>{{"Taglia" | translate}}</ion-label>
      <ion-select formControlName="size">
        <ion-option *ngFor="let size of sizes" [value]="size.key">{{size.value | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-padding>
      <ion-label>{{"Forza" | translate}}</ion-label>
      <ion-input text-right type="number" formControlName="strength"></ion-input>
    </ion-item>
    <ion-item no-padding>
      <ion-label>{{"Edizione" | translate}}</ion-label>
      <ion-select formControlName="edition">
        <ion-option *ngFor="let edition of editions" [value]="edition.key">{{edition.value | translate}}</ion-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>

<ion-footer no-border class="component-inverted-style">
  <buttons-footer [isSaveDisabled]="!_form.valid" [isDeleteHidden]="!_id" (onSave)="save()" (onCancel)="cancel()" (onDelete)="delete()"></buttons-footer>
</ion-footer>