page-character-form {
  .item .label {
    padding-left: 16px;
  }
  .image-item {
    padding-top: 16px;
    .item-inner {
      padding-right: 0 !important;
    }
  }
  .image {
    display: block;
    margin: auto;
    width: 45vw;
    height: 45vw;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid;
    border-radius: 100%;
  }

  .arrow-container{
    display: flex;
  }
  .image-button {
    border-radius: 50%;
    width: 3.6rem;
    &.arrow {
      position: absolute;
      border: 0;
      margin: auto;
      display: block;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      .icon {
        font-size: 4rem;
      }
    }
    &.load {
      transform: translateY(-100%);
      .icon {
        background-color: var(--contrast-color);
        width: 24px;
        height: 24px;
        font-size: inherit;
      }
    }
  }
}