<div tappable (click)="click()">
  <ion-item class="title" no-lines no-padding>
    <ion-icon item-left class="image" [ngStyle]="{'background-image': 'url(' + image + ')'}"></ion-icon>
    {{"Monete" | translate}}
    <p class="weight large" [ngClass]="moneyWeightClass" item-right *ngIf="weight > 0">
      {{weight | weight}}
    </p>
  </ion-item>
  <ion-grid class="container" no-padding>
    <ion-row no-padding justify-content-center>
      <div class="value" text-center *ngIf="platinum > 0">
        {{platinum}}
        <br/> {{"MP" | translate}}
      </div>
      <div class="value" text-center>
        {{gold}}
        <br/> {{"MO" | translate}}
      </div>
      <div class="value" text-center *ngIf="electrum > 0">
        {{electrum}}
        <br/> {{"ME" | translate}}
      </div>
      <div class="value" text-center>
        {{silver}}
        <br/> {{"MA" | translate}}
      </div>
      <div class="value" text-center>
        {{copper}}
        <br/> {{"MR" | translate}}
      </div>
    </ion-row>
  </ion-grid>
</div>