<ion-header class="component-inverted-style" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle"></page-header>
</ion-header>

<ion-content padding class="component-style">
  <ion-spinner *ngIf="isLoading"></ion-spinner>
  <div class="inventory-container" *ngIf="!isLoading && inventory">
    <money tappable [money]="inventory.money" (onClick)="moneyClick()"></money>
    <!-- <equipped [items]="equippedItems" [weight]="equippedWeight" (onAdd)="add($event)" (onRemove)="remove($event)" (onModify)="modify($event)"
      (onMove)="move($event)"></equipped> -->
    <ion-list>
      <bag *ngFor="let bag of bags" [bag]="bag" (onSelect)="select($event)" (onAdd)="add($event)" (onRemove)="remove($event)" (onModify)="modify($event)" (onMove)="move($event)"
        (onPress)="modifyBag($event)" [selectedId]="selectedId"></bag>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-fab right bottom>
    <button ion-fab (click)="addBag()" class="component-inverted-style">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <inventory-bar class="component-style"></inventory-bar>
</ion-footer>