character {
    .image {
        display: block;
        margin: auto;
        height: 60px;
        width: 60px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid;
        border-radius: 100%;
    }
    .name {
        font-weight: bold;
    }
    .description {
        font-style: italic;
    }
    p {
        color: inherit !important;
    }
}