character {
    .image {
        display: block;
        margin: auto;
        height: 60px;
        width: 60px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid;
        border-radius: 100%;
    }
    .item.item-block {
        width: calc(100% + 40px);
        .item-inner {
            padding: 0;
            position: relative;
            left: -40px;
            .input-wrapper {
                display: table;
                height: 80%;
                margin: auto;
                .label {
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 40px;
                    border-radius: 0 40px 40px 0;
                    .description,
                    .name {
                        font-weight: bold;
                    }
                }
            }
        }
    }
    p {
        color: inherit !important;
    }
}