<ion-header class="component-inverted-style" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle" [isOptionsHidden]="true"></page-header>
</ion-header>


<ion-content padding class="component-style">
  <form [formGroup]="_form">
    <ion-item>
      <ion-label>{{"Lingua" | translate}}</ion-label>
      <ion-select formControlName="language">
        <ion-option value="it">Italiano</ion-option>
        <ion-option value="en">English</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{"UnitaMisura" | translate}}</ion-label>
      <ion-select formControlName="units">
        <ion-option *ngFor="let unit of units" [value]="unit.key">{{unit.value | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{"Decimali" | translate}}</ion-label>
      <ion-select formControlName="decimals">
        <ion-option *ngFor="let decimal of decimals" [value]="decimal.key">{{decimal.value | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{"Tema" | translate}}</ion-label>
      <ion-select formControlName="themeId">
        <ion-option *ngFor="let theme of themes" [value]="theme.id">{{theme.name | translate}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item tappable (click)="showCredits()">{{"Crediti" | translate}}...</ion-item>
  </form>
</ion-content>

<ion-footer no-border class="component-inverted-style">
  <buttons-footer [isDeleteHidden]="true" (onSave)="save()" (onCancel)="cancel()" (onDelete)="delete()"></buttons-footer>
</ion-footer>