page-character-form {
    .image {
        display: block;
        margin: auto;
        width: 45vw;
        height: 45vw;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        border: 2px solid;
        border-radius: 100%;
    }
}