page-header {
  ion-navbar.toolbar {
    padding-left: 12px;
    padding-right: 12px;
    height: 74px;
  }
  .title {
    color: inherit;
    .toolbar-title{
      color: inherit;
    }
  }
  .toolbar-background {
    background: inherit;
    color: inherit;
  }
  .logo {
    height: 50px;
  }
  .toolbar-title {
    font-weight: bold;
    font-size: 26px;
  }
  .options-button {
    opacity: 0.5;
    width: 50px;
    margin: 0 !important;
  }
  .bottom-border {
    display: block;
    position: absolute;
    bottom: -9px;
    left: 0px;
    width: 100%;
    height: 9px;
    background: linear-gradient(-90deg, var(--contrast-color) 9px, transparent 0), linear-gradient(-90deg, var(--contrast-color) 9px, transparent 0);
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: 16px 9px;
  }
}