page-credits {
    font-size: 1.8rem;
    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .logo {
        max-height: 120px;
        display: block;
        margin: auto;
    }
    .name {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 4.5rem;
    }
    .avatars {
        .avatar {
            display: block;
            margin: auto;
            &.simo {
                margin-top: 30px;
                max-height: 90px;
            }
            &.mauro {
                max-height: 120px;
            }
        }
        .avatar-name {
            font-weight: bold;
            font-style: italic;
        }
    }
}