page-character-details {
    .image {
        display: block;
        margin: auto;
    }
    .exit-icon {
        transform: rotate(180deg);
    }
    button.edit-button {
        color: color($colors, primary)
    }
    .delete-label {
        text-decoration: underline;
    }
    ion-col {
        font-size: 1.8rem;
        font-weight: bold;
        margin: 2px !important;
        &.encumber-value {
            border: 1px solid color($colors, secondary);
            color: color($colors, secondary);
        }
        &.heavy-encumber-value {
            border: 1px solid color($colors, warning);
            color: color($colors, warning);
        }
        &.max-carry-value {
            border: 1px solid color($colors, danger);
            color: color($colors, danger);
        }
    }
}