page-character-details {
    .image {
        display: block;
        margin: auto;
    }
    .exit-icon {
        transform: rotate(180deg);
    }
    button.edit-button {
        color: color($colors, primary)
    }
    .delete-label {
        text-decoration: underline;
    }
}