<ion-header [ngStyle]="_options.invertedStyle" no-border>
  <page-header [logo]="headerLogo" [title]="headerTitle"></page-header>
</ion-header>


<ion-content padding [ngStyle]="_options.style">
  <div *ngIf="!isEditing">
    <ion-item text-center no-lines>
      <h1 class="name">{{name}}</h1>
    </ion-item>
    <div class="image" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
    <ion-item class="description" text-left no-lines>
      <div class="dragon" item-left [ngStyle]="dragonStyle"></div>
      {{description}}
      <br> {{"Forza" | translate}} {{strength}}
    </ion-item>
    <ion-grid class="weights-table">
      <div class="border-top" [ngStyle]="_options.invertedStyle"></div>
      <ion-row class="labels-row" text-center>
        <ion-col>LEGGERO</ion-col>
        <ion-col>MEDIO</ion-col>
        <ion-col>PESANTE</ion-col>
      </ion-row>
      <ion-row class="values-row" text-center>
        <ion-col>
          <div class="cell encumber-value">{{encumberedValue}} Kg</div>
        </ion-col>
        <ion-col>
          <div class="cell heavy-encumber-value">{{heavilyEncumberedValue}} Kg</div>
        </ion-col>
        <ion-col>
          <div class="cell max-carry-value">{{maxCarryValue}} Kg</div>
        </ion-col>
      </ion-row>
      <ion-row class="values-row" text-center>
        <ion-col col-4 offset-2>
          <div class="cell" [ngStyle]="cellStyle">216 Kg</div>
        </ion-col>
        <ion-col col-4>
          <div class="cell" [ngStyle]="cellStyle">540 Kg</div>
        </ion-col>
      </ion-row>
      <ion-row class="labels-row" text-center>
        <ion-col col-4 offset-2>x2</ion-col>
        <ion-col col-4>x5</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div class="editing-form" *ngIf="isEditing">
    <ion-item>
      <ion-label fixed>{{"Nome" | translate}}</ion-label>
      <ion-input class="input-h1" type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <img class="image" src="{{image}}" alt="">
    <ion-item>
      <ion-label fixed>{{"Razza" | translate}}</ion-label>
      <ion-input class="input-h2" [(ngModel)]="race"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"Classe" | translate}}</ion-label>
      <ion-input class="input-h2" [(ngModel)]="class"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>{{"Forza" | translate}}</ion-label>
      <ion-input class="input-h2" type="number" [(ngModel)]="strength"></ion-input>
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item class="delete-label" text-center tappable (click)="delete()">{{"Elimina" | translate}}</ion-item>
  </div>
</ion-content>

<ion-footer no-border [ngStyle]="_options.invertedStyle">
  <ion-fab right bottom>
    <button ion-fab (click)="modify()" [ngStyle]="_options.invertedStyle">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>
  <total-bar></total-bar>
</ion-footer>