bag-item {
    .option-buttons {
        button {
            margin: 2px;
            text-transform: none;
            // height: 4rem;
            .button-inner {
                flex-direction: column;
            }
        }
    }
}