page-credits {
  font-size: 1.8rem;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .symbol {
    background-color: var(--contrast-color);
    height: 8px;
    width: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .contact-us {
    font-size: 20px;
  }
  .icon-logo {
    padding-top: 16px;
    max-height: 100px;
    display: block;
    margin: auto;
  }
  .name {
    max-height: 50px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .col-avatar-mauro {
    display: flex;
  }
  .at-image-col {
    max-width: 0px;
  }
  .at-image {
    position: absolute;
    width: 80px;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    left: 50%;
    top: 50%;
    height: 35px;
    background-color: var(--contrast-color);
  }
  .avatars {
    padding-top: 16px !important;
    .avatar {
      display: block;
      margin: auto;
      &.simo {
        max-height: 90px;
      }
      &.mauro {
        max-height: 80px;
      }
    }
    .avatar-name {
      font-weight: bold;
      font-style: italic;
    }
  }
}